<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
  <!-- Add your CSS and other header content here -->
</head>
<body>
  {{{body}}} <!-- This is where the content of the specific view will be injected -->
  
  <!-- Add your footer content here -->
</body>
</html>
