{{> header}}

<div class="content">
  <div class="container mt-4">
    <h2>Academic Term Details</h2>
    <table class="table table-striped">
      <tbody>   
        <tr>
          <th>Name</th>
          <td>{{category.name}}</td>
        </tr>
        <!-- Additional rows if needed -->
      </tbody>
    </table>
  </div>
</div>
{{> footer}}
