{{> header}}
<style>
    .content {
        background-color: #f7fafc;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: rgba(0, 0, 0, 0.836);
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 10px;
    }
</style>
<div class="content">
  <h2>Create Academic Term</h2>
  <form action="/category/createCategory" method="POST">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Create Academic Term</button>
  </form>
</div>

{{> footer}}

