{{> header_admin}}
<style>
    .content {
        background-color: #f7fafc;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: rgba(0, 0, 0, 0.836);
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 10px;
    }
</style>
<div class="content">
  <div class="container mt-4">
    <h2>Update Academic Term</h2>
    <form id="updateForm" action="/category/{{category._id}}/update" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{category.name}}" class="form-control" />
      </div>
      <button type="submit" class="btn btn-success">Update Category</button>
    </form>
  </div>
</div>
