{{> header_admin}}

<div class="content">
  <div class="container mt-4">
    <h2>Subject</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{yearGroup.name}}</td>
        </tr>
        <tr>
          <th>Academic Year</th>
          <td>{{yearGroup.academicYear.name}}</td>
        </tr>
                              <a href="/year-group/index" class="btn btn-primary"> Back</i></a>

        <!-- Additional rows if needed -->
      </tbody>
    </table>
  </div>
</div>