{{> header}}

<div class="content">
  <h1>Create Question</h1>
  <form action="/question/create/{{exam._id}}" method="POST">
    <div class="form-group">
      <label for="question">Question:</label>
      <input type="text" class="form-control" id="question" name="question" required>
    </div>
    <div class="form-group">
      <label for="optionA">Option A:</label>
      <input type="text" class="form-control" id="optionA" name="optionA" required>
    </div>
    <div class="form-group">
      <label for="optionB">Option B:</label>
      <input type="text" class="form-control" id="optionB" name="optionB" required>
    </div>
    <div class="form-group">
      <label for="optionC">Option C:</label>
      <input type="text" class="form-control" id="optionC" name="optionC" required>
    </div>
    <div class="form-group">
      <label for="optionD">Option D:</label>
      <input type="text" class="form-control" id="optionD" name="optionD" required>
    </div>
    <div class="form-group">
      <label for="correctAnswer">Correct Answer:</label>
      <input type="text" class="form-control" id="correctAnswer" name="correctAnswer" required>
    </div>
     <div class="form-group">
      <label for="category">Category:</label>
      <select class="form-control" id="category" name="category" required>
        {{#each categories}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
   <div class="form-group">
        <label for="difficulty">Difficulty:</label>
        <!-- Add input field for difficulty selection, assuming you have a select dropdown for difficulty levels -->
        <select class="form-control" id="difficulty" name="difficulty" required>
          <!-- Populate options based on your difficulty levels -->
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>

    <button type="submit" class="btn btn-primary">Create Question</button>
  </form>
</div>

{{> footer}}
