{{> header_admin}}

<div class="content">
  <div class="container mt-4">
    <h2>Academic Term Details</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{classLevel.name}}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{classLevel.description}}</td>
        </tr>
        <tr>
          <th>Duration</th>
          <td>{{classLevel.createdBy}}</td>
        </tr>
              <a href="/class-level/index" class="btn btn-primary"> Back</i></a>

        <!-- Additional rows if needed -->
      </tbody>
    </table>
  </div>
</div>