{{> header_admin}}
<style>
    .content {
        background-color: #f7fafc;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: rgba(0, 0, 0, 0.836);
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .action-buttons {
        display: flex;
        justify-content: space-evenly;
    }
</style>


<div class="content">
    <form method="POST" action="/academic-years/{{academicYear._id}}/delete">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>



