{{> header_admin}}

<div class="content">
  <div class="container mt-4">
    <h2>Academic Term Details</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{academicTerm.name}}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{academicTerm.description}}</td>
        </tr>
        <tr>
          <th>Duration</th>
          <td>{{academicTerm.duration}}</td>
        </tr>
              <a href="/academic-term/index" class="btn btn-primary"> Back</i></a>

        <!-- Additional rows if needed -->
      </tbody>
    </table>
  </div>
</div>