{{> header_admin}}

<div class="content">
  <div class="container mt-4">
    <h2>Academic Term Details</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{Program.name}}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{Program.description}}</td>
        </tr>
        <tr>
          <th>Duration</th>
          <td>{{Program.duration}}</td>
        </tr>
        <!-- Additional rows if needed -->
      </tbody>
    </table>
  </div>
</div>