{{> header}}

<div class="content">
  <div class="error-message">
    <p>Incorrect access key. Please ensure you've entered the correct access key.</p>
    <p><a href="/">Go back</a></p>
  </div>
</div>

{{> footer}}
