{{> header}}
<style>
  .content {
    border: 2px solid #ccc;
    padding: 20px;
  }
</style>

<div class="content">
  <div class="card-group">
    <div class="row row-cols-1 row-cols-md-5">
      {{#each exams}}
      <div class="col mb-4 stack">
        <div class="card-take-exam bg-primary text-white">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5> <br>
            <p class="card-text">
              <!-- Other exam details... -->
            </p>
            <div class="form-group">
              <label for="accessKey">Access Key:</label>
              <input type="text" class="form-control" id="accessKey_{{this._id}}" placeholder="Enter access key">
            </div>
            <div class="text-center">
              <button class="btn btn-light" onclick="validateAccessKey('{{this._id}}', '{{this.accessKey}}')">Take Exam</button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

{{> footer}}

<script>
  function validateAccessKey(examId, accessKey) {
    const accessKeyInput = document.getElementById('accessKey_' + examId);
    const enteredAccessKey = accessKeyInput.value;

    if (enteredAccessKey === accessKey) {
    window.location.href = '/student/write/' + examId;
    alert('Correct.');

    } else {  
      alert('Incorrect access key. Please try again.');
      accessKeyInput.value = '';
    }
  }
</script>
