{{> header_admin}}

<div class="content">
  <div class="container mt-4">
    <h2>Subject</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{data.name}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{data.email}}</td>
        </tr>
        <!-- Additional rows if needed -->
      </tbody>
    </table>
  </div>
</div>
